body {
    background-color: #efefef;
}

i {
    text-align: center !important;
    margin: auto !important;
    color: white;
}

.bxs-star {
    color: gold;
}

.bx-reset {
    display: inline-block;
    color: black;
    cursor: pointer;
    font-size: 30px;

}

.stars {
    margin-top: 40px;
    display: inline-block;
    font-size: 30px;
}

.items {
    text-align: center;

}

.container {
    margin-top: 5%;
    width: 600px !important;
}


.temporary {
    background-color: blue !important;
    font-size: 30px !important;
    transform: rotateY(180deg);
    transition: transform .2s;
}

.show {
    font-size: 0 !important;
}

.good {
    background-color: green !important;
    font-size: 30px;
}

.wrong {
    background-color: red !important;
    font-size:0;
}

.card {
    height: 100px;
    width: 100px;
    background-color: grey;
    margin: 10px auto;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    font-size:0;
}

h2 {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: black;
    margin-top: 30px;
}