# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\casfr\Desktop\SCHOOL\Mediaontwikkelaar Niveau 4\Javascript\periode 7\voorbereidingen examen\memmory game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
